*.c
*.exe
*.o
*.pyc
*.so
cache/Nuitka-0.5.1.1.tar.gz
cache/Nuitka-0.5.1.1/
cython/cascade
cython/hello
cython/harmonic_sum
cython/needs_crypto
cython/needs_m2crypto
experiments/cython-boto/boto*
nuitka/*.build
nuitka/*.dist
output/cython/
output/nuitka/
pyinstaller/
trace.out
